{% extends "TaskBundle::layout.html.twig" %}

{% block title %}
  Create a new Task - {{ parent() }}
{% endblock %}

{% block task_body %}

  <h1>Welcome on Task create form   </h1>

  {{ include("TaskBundle:Item:form.html.twig") }}

{% endblock %}