{% extends "TaskBundle::layout.html.twig" %}

{% block title %}
  Edit a task - {{ parent() }}
{% endblock %}

{% block task_body %}

  <h1>Welcome on Task {{ id }} Edit</h1>
  {{ include("TaskBundle:Item:form.html.twig") }}

{% endblock %}

